.sebino{
    background: radial-gradient(293.15% 5244.37% at 100% 121.13%, #740657 0%, #FD331F 100%);    width:fit-content;
    padding:15px 100px;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 25px;
    color: #FFFFFF;
    border-radius: 20px;
    border: transparent;
}
.marqueclass{
    color:#740657;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 600;
}