.App-header {
  /* background-color: #282c34; */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}
.head-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.loginbutton {
  background-color: rgb(255, 43, 36);
  font-size: 15px;
  padding: 10px 15px;
  border-radius: 10000px;
  box-shadow: rgba(255, 255, 255, 0.15) 0px 0px 0px 2px;
  pointer-events:none;
  
}
.stocksbutton {
  background-color: rgb(36, 113, 255);
  font-size: 15px;
  padding: 10px 15px;
  border-radius: 10000px;
  box-shadow: rgba(255, 255, 255, 0.15) 0px 0px 0px 2px;
}
