.footer{
    background-color: rgb(109, 176, 235);
    padding: 5px;
    
}
.footr1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}
.footnav{
    box-sizing: content-box;
    font-size: 16px;
    background: transparent;
    border:none; 
    text-wrap: wrap;   
    font-weight: 600;
    text-transform: none;
    line-height: 2;
    text-rendering: geometricprecision;
    -webkit-tap-highlight-color: transparent;
    padding: 12px ; 
    margin: 0%;    
    cursor: pointer;
  }